/* .btn-custome{
    background-color: #c8c8c6;
}

.btn-custome:hover{
    background-color: #ccc96b;
    color: white;
}

.btn-custome-2{
    background-color: #f5f3cd;
}

.btn-custome-2:hover{
    background-color: #e8ebec;
    color: white;
} */

form {
    max-width: 990px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Form Heading */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Form Group */
.form-group {
    margin-bottom: 15px;
}

/* Label Styles */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

/* Input and Textarea Styles */
input[type="text"],
textarea,
input[type="file"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

input[type="text"],
select {
    text-align: center;
    /* Center text within input field */
}

.white-color {
    background-color: white;
}

.text-white {
    color: white;
    font-weight: 350;
}

.text-size-custom {
    font-size: large;
}

.magenta-color {
    background-color: #E20074;
}

.btn-back {
    background-color: white;
    color: #E20074;
}

.insert-custome {
    background-color: #f5f7f8;
    ;
    color: #E20074;
    font-weight: 370;
}

.insert-custome:hover {
    background-color: white;
}

/* Hover button style. */

.hover-button {
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    color: #E20074;
    background-color: white;
}


.hover-button::before,
.hover-button::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #e267a7;
    /* another color: ff6347;*/
    transition: width 0.9s ease;
}

.hover-button::before {
    top: 0;
    left: 0;
}

.hover-button::after {
    bottom: 0;
    right: 0;
}

.hover-button:hover::before,
.hover-button:hover::after {
    width: 100%;
}


@keyframes line-hover {
    0% {
        left: -100%;
        right: 100%;
    }

    50% {
        left: 100%;
        right: -100%;
    }

    100% {
        left: -100%;
        right: 100%;
    }
}

.hover-button:hover::before,
.hover-button:hover::after {
    animation-play-state: running;
}

/* End Hover Button style */


/* Text Wormy style */

h1.generate-ticket-title {
    position: relative;
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
    overflow: hidden;
}

h1.generate-ticket-title::before,
h1.generate-ticket-title::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    animation: border-slide-right 5s linear infinite;
}

h1.generate-ticket-title::before {
    top: 0;
    left: -100%;
}

h1.generate-ticket-title::after {
    bottom: 0;
    left: -100%;
}

@keyframes border-slide-right {
    0% {
        transform: translateX(-100%);
    }

    80% {
        transform: translateX(100%);
    }

    95% {
        transform: translateX(100%);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}
