<div class="container mt-4 pt-2">

    <div class="text-center">
        <div class="row my-4 p-4" style="background-color: #f5f7f8;">
            <div class="p-4 mt-4">
                <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)" enctype="multipart/form-data" *ngIf="newProduct">
                    <h1 class="text-style generate-ticket-title">
                      {{ isEditMode ? 'Edit Product' : 'Add New Product' }}  
                    </h1>
                  
                    <!-- Банер за грешка -->
                    <div *ngIf="showErrorBanner" class="alert alert-danger">
                      All fields are required. Please fill in all fields.
                    </div>

                    <!-- Банер за успешно додаден продукт -->
                    <div *ngIf="showSuccessBanner" class="alert alert-success">
                      {{ isEditMode ? 'Your Product was edited successfully!' : 'Your Product was added successfully!' }} 
                    </div>
                  
                    <div class="row">
                      <div class="form-group col-6">
                        <label for="title" class="text-style text-size-custom">Name :</label>
                        <input type="text" [(ngModel)]="newProduct!.name" id="title" name="name" required>
                      </div>
                  
                      <div class="form-group col-6">
                        <label for="message" class="text-style text-size-custom">Product Informations :</label>
                        <textarea [(ngModel)]="newProduct!.description" id="message" name="description" rows="2" required></textarea>
                      </div>
                    </div>
                  
                    <div class="row">
                      <div class="form-group col-6">
                        <label for="title" class="text-style text-size-custom">Category :</label>
                        <select [(ngModel)]="newProduct!.categoryId" name="categoryId" required>
                          <option *ngFor="let category of categories" [value]="category.id">
                            {{ category.name }}
                          </option>
                        </select>
                      </div>
                  
                      <div class="form-group col-6">
                        <label for="title" class="text-style text-size-custom">Brand :</label>
                        <select [(ngModel)]="newProduct!.brandId" name="brandId" required>
                          <option *ngFor="let brand of brands" [value]="brand.id">
                            {{ brand.name }}
                          </option>
                        </select>
                      </div>
                    </div>
                  
                    <div class="row">
                      <div class="form-group col-6">
                        <label for="title" class="text-style text-size-custom">Price :</label>
                        <input type="text" id="title" [(ngModel)]="newProduct!.price" name="price" required>
                      </div>
                      
                  
                      <div class="form-group col-6 pt-2">
                        <label class="text-style text-size-custom">Available :</label>
                        <input type="checkbox" [(ngModel)]="newProduct!.isPresent" name="isPresent">
                      </div>
                    </div>
                  
                    <div class="form-group">
                      <label class="text-style text-size-custom">Available Colors:</label>
                      <div class="d-flex flex-wrap bg-neutral p-3">
                        <div *ngFor="let color of colors" class="color-box"
                             [ngStyle]="{'background-color': color.hexCode}"
                             [class.selected]="selectedColors.includes(color.id)"
                             (click)="toggleColorSelection(color.id)"
                             [attr.title]="color.name">
                        </div>
                      </div>
                    </div>
                   
                  
                    <div class="form-group white-color mt-4">
                      <label class="btn insert-custome hover-button">
                        Insert picture
                        <input id="picture" (change)="onFileSelected($event)" name="picture" type="file" hidden>
                      </label>
                    </div>
                  
                    <div class="form-action pt-3">
                      <button type="submit" class="btn btn-bg hover-button p-3">Save</button>
                    </div>
                  </form>

            </div>
        </div>
    </div>
</div>