<div class="container pdt text-center rounded-5" 
style="background: url('https://www.telekom.mk/content/banners/2025/share-with-care-banner-bg.jpg') no-repeat center center/cover; background-color: white;">
    <h3 class="generate-ticket-title">Select What Kind of Tariff You Want</h3>

    <div class="row py-4 my-2 justify-content-center">
        <div class="col-12 col-md-6 mt-3" [routerLink]="['magenta1']">
            <div class="card text-center m-3">
                <div class="card-body p-4">
                    <h4 class="fw-light card-title">MAGENTA1</h4>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mt-3" [routerLink]="['mtariff']">
            <div class="card text-center m-3" >
                <div class="card-body p-4">
                    <h4 class="fw-light card-title">Mobile Tariffs</h4>
                </div>
            </div>
        </div> 
    </div>
</div>
<!-- https://www.telekom.mk/content/banners/2025/share-with-care-banner-bg.jpg -->