.navbar .btn-group {
    position: relative;
}

.navbar .btn-group:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 15%;
    right: -0.5rem; /* Раздалеченост од десната страна */
    height: 70%;
    width: 1px;
    background-color: #ccc; /* Боја на границата */
}

.filter-menu h5 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .filter-menu .btn {
    text-align: left;
  }


