  .search-container {
    position: absolute;
    top: 0px;
    right: 180px;
    background: white;
    z-index: 1000;
    margin-left: 10px;
  }

  .search-input {
    width: 270px;
    border: 1px solid #E20074;
    border-radius: 4px;
    padding: 3px;
  }

  .search-input:focus {
    outline: none; 
}

  .search-input::placeholder {
    color: #000000;
    font-size: 14px;
    padding-left: 3px;
    font-weight: 300;
  }

  .product-list {
    list-style: none;
    padding: 3px 12px;
    margin-top: 10px;
  }

  .product-list li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
  }

  .product-item {
    cursor: pointer; /* Покажувач на рака за да покаже дека е кликабелен */
    transition: transform 0.2s ease; /* Додадете анимација за hover */
}

.product-item:hover {
    transform: scale(1.05); /* Леко зголемување при hover */
}

  .product-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
  }

  .text-modify {
    font-weight: 300;
  }

  .btn-search {
    background-color: #E20074;
    color: white;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    margin-left: 10px;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .btn-search:hover {
    transform: scale(1);
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.5);
  }