<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container justify-content-center">
      <div class="btn-group mx-2" *ngFor="let category of categories" dropdown>
        <button 
          [id]="category.name + 'Dropdown'" 
          dropdownToggle 
          type="button" 
          class="btn btn-light dropdown-toggle"
          [class.active]="category.name.toLowerCase() === activeCategory">
          {{ category.name }}
        </button>
        <ul *dropdownMenu class="dropdown-menu" [attr.aria-labelledby]="category.name + 'Dropdown'">
          <li role="menuitem" *ngFor="let sub of category.subcategories">
            <a 
              class="dropdown-item" 
              [routerLink]="sub.route"
              [class.active]="sub.name.toLowerCase() === activeCategory">
              {{ sub.name }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>