<div class="pdt" style="background-color: #eff2f6;">


    <div class="container-fluid my-4 py-4">

        <div class="row">
            <div class="col-12 col-md-9">
                <div class="container">
                    <div class="row mx-auto">
                        <h1 class="text-center text-uppercase" style="color: #E20074;"><strong>Magenta1</strong></h1>
                        <h4 class="text-center fw-light m-3" style="color: rgb(58, 57, 57);">To create a Magenta1
                            bundle, you need to choose at least 1 and up to 5 mobile services,
                            along with 1 internet or TV service.</h4>
                        <h3 class="text-center text-uppercase mt-2" style="color: #E20074;"><strong>You can select your
                                combination</strong></h3>

                        <div class="text-center mt-4 pt-3">
                            <h3 class="my-4 p-2 text-uppercase" style="color: rgb(58, 57, 57);"><strong>Mobile
                                    Services</strong></h3>
                        </div>

                        <div *ngFor="let tariff of magenta1" class="col-12 col-md-3 text-center mx-auto text-center ">
                            <div class="card card-12 rounded-5 border-magenta fixed-card-container">
                                <div class="card-header bg-transparent border-magenta p-3">Magenta 1</div>
                                <div class="card-body">
                                    <h2 class="card-title">{{tariff.name}}</h2>
                                    <h3 class="card-title fw-light">
                                        <span *ngIf="tariff.internetSpeed === 1000" class="infinity-symbol">∞ </span>
                                        <span *ngIf="tariff.internetSpeed !== 1000">{{ tariff.internetSpeed }}GB</span>
                                        Internet
                                      </h3>
                                    <p class="card-text pt-3"><strong>5G</strong>: Available</p>
                                    <p class="card-text"><strong>Conversation</strong>: {{tariff.conversationTime}}</p>
                                    <p class="card-text"><strong>SMS</strong>: {{tariff.sms}}</p>
                                    <p *ngIf="tariff.roamingInternet" class="card-text"><strong>Roaming</strong>: {{tariff.roamingInternet}} MB</p>
                                    <p *ngIf="tariff.internationalNetworkCalls" class="card-text"><strong>International Calls</strong>: {{tariff.internationalNetworkCalls}} minutes</p>

                                </div>
                                <div class="card-footer bg-transparent border-magenta p-3">
                                    <h5>{{tariff.price | currency:'MKD ':'symbol-narrow' }}</h5>
                                    <button class="btn btn-add-cart"> <img src="assets/images/cart.png" alt="Shipping"
                                            style="height: 24px; width: 24px;"> </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="my-4">
                        <hr>
                    </div>

                    <div class="row">
                        <div class="text-center">
                            <h3 class="my-4 p-2 text-uppercase" style="color: rgb(58, 57, 57);"><strong>Interner &
                                    TV</strong></h3>
                        </div>

                        <div *ngFor="let inet of internet" class="col-12 col-md-3 text-center mx-auto text-center ">
                            <div class="card card-none rounded-5 border-magenta fixed-card-container">
                                <div class="card-header bg-transparent border-magenta p-3">Magenta1
                                </div>
                                <div class="card-body">
                                    <h2 class="card-title">{{inet.name}}</h2>
                                    <h5 class="card-title fw-light">{{inet.internetSpeed}} Internet</h5>
                                    <p class="card-text pt-3">Conversation: {{inet.conversationTime}}</p>
                                    <p class="card-text pt-1">Over {{inet.magentaTV}}+ channels</p>
                                    <p *ngIf="inet.magentaTV_GO" class="card-text pt-1">MagentaTV Go</p>
                                    <p class="card-text">{{inet.functions}} Magenta Functions</p>
                                </div>
                                <div class="card-footer bg-transparent border-magenta p-3">
                                    <h5>{{inet.price | currency:'MKD ':'symbol-narrow' }}</h5>
                                    <button class="btn btn-add-cart"> <img src="assets/images/cart.png" alt="Shipping"
                                            style="height: 24px; width: 24px;"> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 rounded-5  sticky" style="background-color: white;">
                <div class="m-2 p-2">
                    <h5 class="">Your</h5>
                    <h4 class="text-uppercase"><strong style="color: #E20074;">Magenta1</strong></h4>
                    <div class="">
                        <p>Budget: 19000</p>
                    </div>
                    <div class="">
                        <h3>Monthly fee</h3>
                        <p>Vkupno: 2000</p>
                        <p>Bez ured: 1990</p>
                    </div>
                    <div class="">
                        <h3>Mobile Lines</h3>
                        <ul>
                            <li>S</li>
                            <li>Ultra</li>
                        </ul>
                        <h3>Internet</h3>
                        <ul>
                            <li>M</li>
                        </ul>
                    </div>
    
                    <div class="">
                        <button class="btn btn-add-cart">Order Now</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>