.pdt{
    padding-top: 80px;
}
.border-magenta{
    border-color: #ffffff !important;
    border-width: 1px;
}

.card-12{
    background-color: #E20074;
    background: linear-gradient(to right, #E20074, #b24196);
    color: white;
    font-weight: 330;
}

.card-none{
    background-color: #E20074;
    background: linear-gradient(to right, #b24196, #E20074);
    color: white;
    font-weight: 330;
}

.btn-add-cart { 
    color: #E20074;
    background-color: #ffffff;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-add-cart:hover {
    transform: scale(1);
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.5);
}

.btn-order-now{
    color: #ffffff;
    background-color:  #E20074;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-order-now:hover {
    transform: scale(1);
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.5);
}

.sticky{
    position: fixed;
    top: 0px;
    padding: 20px 20px;
    padding-top: 90px;
    width: 20%;
    right: 0;
    height: 100%;
    overflow-y: hidden;
    display: inline-block;
    float: right;
    /* height: 500px; */
    /* z-index: 1; */
}

  

.fixed-card-container {
    height: 465px; 
}

.infinity-symbol {
    font-size: 1.2em; 
  }

.card-text {
    line-height: 1; 
}

p{
    font-size:medium;
}

.bcolor{
   background-color: #eff2f6;
}


.btn-remove-cart {
    background-color: #e7e7e7; 
    color: #E20074; 
    border: 1px solid #d500f9;
  }