<div class="container mt-2">
    <div class="screen">
       
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
        
        <div class="screen__content">
            
            <form #loginForm="ngForm" class="login" (ngSubmit)="register()" autocomplete="off">
                
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text"
                        class="login__input"
                        name="username"
                        [(ngModel)]="model.username"
                        placeholder="Username"
                    >  
                </div>

                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input type="password"
                        class="login__input"
                        name="password"
                        [(ngModel)]="model.password"
                        placeholder="Password"
                    > 
                </div>

                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text"
                        class="login__input"
                        name="name"
                        [(ngModel)]="model.name"
                        placeholder="Name"
                    >  
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text"
                        class="login__input"
                        name="lastName"
                        [(ngModel)]="model.lastName"
                        placeholder="Last Name"
                    > 
                </div>
                
                
                <button class="button login__submit" type="submit">
                    <span class="button__text">Sing up</span>
                </button>   
            </form>
            <div class="social-login">
                <div class="social-icons">
                    <a href="#" class="social-login__icon fab fa-instagram"></a>
                    <a href="#" class="social-login__icon fab fa-facebook"></a>
                    <a href="#" class="social-login__icon fab fa-twitter"></a>
                </div>
            </div>
        </div>
    </div>
</div>



