.color-button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%; /* За кружна форма */
    margin: 5px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
  }
  
  .color-button:hover {
    transform: scale(1.1); /* Зголемување при hover */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  .order-box{
    background-color: #E20074;
    color: white;
  }

  .btn-log-in {
    background-color: white;
    color: #E20074;
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
  }
  
  .btn-log-in:hover {
    transform: scale(1);
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.5); 
  }

  .alert{
    background-color: #E20074;
    color: white;
    font-size: 17px;
    background: linear-gradient(to right, #E20074, #b24196);
  }
 
  
  