<div class="container mt-4 pt-4">
    <div class="row p-4">
        <div class="col-9 pt-4">
            <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <td class="custom-td">Picture</td>
                            <td class="custom-td">Model name</td>
                            <td class="custom-td">Price</td>
                            <td class="custom-td">Quantity</td>
                            <td class="custom-td">Color</td>
                            <td class="custom-td"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>https,lel</td>
                            <td>Iphone 15</td>
                            <td>30 000</td>
                            <td>1</td>
                            <td><button class="btn round"></button></td>
                            <td><button class="btn x-button">X</button></td>
                        </tr>
                        <tr>
                            <td>https,lel</td>
                            <td>Iphone 15</td>
                            <td>30 000</td>
                            <td>1</td>
                            <td><button class="btn round"></button></td>
                            <td><button class="btn x-button">X</button></td>
                        </tr>
                        <tr>
                            <td>https,lel</td>
                            <td>Iphone 15</td>
                            <td>30 000</td>
                            <td>1</td>
                            <td><button class="btn round"></button></td>
                            <td><button class="btn x-button">X</button></td>
                        </tr>
                    </tbody>
                </table>
        </div>

        <div class="col-3 pt-4">
            <div class="card text-center p-3 m-3" style="width: 18rem;">
                <h3 class="fw-light">Your total price:</h3>
                <div class="card-body">
                  <h5 class="card-title fw-light">50000 MKD</h5>
                </div>
                <button class="btn btn-buy fw-light">BUY NOW</button>
            </div>
        </div>
       
    </div>
</div>
